.AboutUS {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #fff;
    background-color: #000; 
    background-image: url('../../imgs/HD-wallpaper-falling-money-saving-bank-usa-black-dark-dollars.jpg'); 
    background-size: cover;
    background-position: center;
    text-align: center;
}

.Heder {
    background: linear-gradient(to right, black,#EDC14A);
    color: #fff;
    padding: 60px 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    animation: fadeIn 3s ease-in-out;
}

section {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 800px;
    background: #000;
    border-radius: 8px;
    box-shadow: 0 0 20px #fcd874 ;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

h2 {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 0;
    position: relative;
    display: inline-block;
    animation: slideIn 1s ease-out;
}

h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: #fcd874;
    margin: 10px auto 0;
    border-radius: 3px;
    animation: expand 1s ease-in-out;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
    animation: fadeIn 1s ease-in-out;
}

ul li {
    padding: 10px 0;
}

.team-member {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    animation: fadeIn 1s ease-in-out;
}

.team-member img {
    border-radius: 50%;
    margin-right: 15px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.testimonial {
    background: #867043;
    padding: 20px;
    border-left: 5px white;
    margin: 20px 0;
    font-style: italic;
    animation: fadeIn 1s ease-in-out;
}

#cta {
    text-align: center;
    background: #fcd874;
    color: #fff;
    padding: 40px 20px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 800px;
    animation: bounce 2s infinite;
}

#cta a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}

#cta a:hover {
    text-decoration: none;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes expand {
    from {
        width: 0;
    }
    to {
        width: 50px;
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
