.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #EDC14A;
  background-size: cover;
  padding: 20px;
  box-sizing: border-box;
}

.login-background {
  background: linear-gradient(to right, black, #EDC14A);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 850px;
  width: 100%;
  text-align: center;
}

.login-form {
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
}

.login-title {
  margin-bottom: 30px;
  font-size: 2rem;
  color: #EDC14A;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.forgot-password, .link-danger {
  color: #EDC14A;
  text-decoration: none;
}

.forgot-password:hover, .link-danger:hover {
  text-decoration: underline;
}

.btn-block {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #EDC14A;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-block:hover {
  background-color: #d4a635;
}