@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  /* background-color: #0D0D0D;
  color: white; */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body{
  height: 100vh;
  background-color: #0D0D0D !important; 
  color: white !important;

}

.navbar-nav {
  display: flex;
  flex-direction: row !important; 
  gap:50px;
  z-index: 9999;
}
.navbar-nav li a{
  text-decoration: none;
  color:white;
  font-size: 22px;
  padding-bottom: 5px;
  position: relative;
  background-color: transparent;
}
.navbar-nav li a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #EDC14A;
  transition: width 0.3s ease, left 0.3s ease; /* Added */
}

.navbar-nav li a:hover::after {
  width: 100%;
  left: 0;
}
.navbar-nav img {
  height:20px;
  width:auto;
}
.big-menu {
  display: none;
  width:100px;
  height:100px;
  background-color: red;
  position: absolute;
  z-index: 9999;
}
.big-menu.show {
  display: block;
  width:100px;
  height:100px;
  background-color: red;
  position: absolute;
  z-index: 9999;
}

.container {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
}
.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.flexbox .-banking {
  margin-left:-80px;
  margin-top:-40px;
  margin-right:-100px;
  font-size: 165px;
  background-color:transparent;
}
.flexbox .paragraph-p {
  width:25%;
  margin-left: -60px;
  font-size: 25px;
}
.container .flexbox .gateway {
  font-size: 230px;
}
.StartBanking-button {
  top:50px;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  text-align: center;
  border: 2px solid #EDC14A;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  overflow: hidden;
  margin-left: 100px;
  margin-right: 150px;
}
.StartBanking-button .arrow-slide::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: white;
  z-index: -1;
  transition: width 300ms ease-in-out, height 300ms ease-in-out;
  transform-origin: bottom left;
  border-radius: 50%;
}

.StartBanking-button:hover .arrow-slide::before,
.StartBanking-button:focus .arrow-slide::before {
  width: 100%;
  height: 100%;
}

.StartBanking-button .arrow-img {
  width: 20px;
  margin-left: 0px;
  margin-bottom: -40px;
  height: auto;
  transform: rotate(50deg);
  background-color: transparent;
}

.StartBanking-button:hover .arrow-img {
  display: none;
}

.StartBanking-button p {
  background-color: transparent;
  margin-left: 2px;
  margin-right: 15px;
  margin-bottom: 1px;
  transition: color 300ms ease-in-out, font-size 300ms ease-in-out;
  font-weight: bold;
}
.StartBanking-button:hover p {
  color: black;
  font-size: 20px;
}
.eLogo-img {
  margin-left:80px;
  width: 300px;
  margin-right: 20px;
}
.carusel-space {
  height:100vh;
  display: flex;
  width:100%;
  justify-content: center;
  align-items: center;
  gap:20px;
}
.carusel-cards {
  width:300px;
  height:450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carusel-img {
  height:180px;
  width:auto;
  margin-bottom: 20px;
}
.carusel-title {
  font-size: 35px;
  margin-bottom: 20px;
}
.carusel-txt {
  font-size:20px;
  text-align: center;
}
.carusel-gold-line {
  height:4px;
  width:120px;
  background-color: #EDC14A;
  margin-bottom: 20px;
  transition: width 0.5s ease;
}
#carusel-cards-1:hover .carusel-gold-line {
  width: 200px;
}
#carusel-cards-2:hover .carusel-gold-line {
  width: 200px;
}
#carusel-cards-3:hover .carusel-gold-line {
  width: 200px;
}

.info-place {
  width:100%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-place img {
  height:350px;
  z-index: 0;
}
.info-place h1{
  position:absolute;
  z-index: 2;
  background-color: transparent;
  width:50%;
  font-size:40px;
  text-align: center;
}
.footer-txt-box {
  background-color: transparent;
  display:grid;
  gap: 50px;
  margin-left: 20%;
  margin-top: 5%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: left;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.893);
}
.footer-txt-box > div{
  background-color: transparent;
  width:400px;
}
.footer-txt-box > div > h1{
  background-color: transparent;
  letter-spacing: 3px;
}
.footer-txt-box > div >p{
  background-color: transparent;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
}
.footer-txt-box > div > img{
  background-color: transparent;
  padding:10px;
  width:60px;
  height:auto;
}
.footer-bottom{
  width:100%;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-us {
  background-color: #0D0D0D;
  position: relative;
  width:100vh;
  height:100vh;
}
.contactus-img {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 600px;
  width: auto; 
}
.contactus-form {
  z-index: 999;
  position: fixed;
  width:700px;
  height: fit-content;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.carousel a {
  display: flex;
  background: none;
  width: 100px;
}
footer{
  background-image: url('../imgs/black&white-logo.png');
  background-size: 700px; 
  background-repeat: no-repeat;
  background-color: #0D0D0D;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}