.rccs__card--front {
    margin-top: 50px;
    margin-left: 500px;
    background-color: rgb(233, 233, 233);

}

.rccs__card--back {
    margin-top: 100px;
    margin-right: 100px !important;
    background-color: rgb(233, 233, 233);

}

.rccs__card--flipped{
    margin-left:  500px;
}
input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.rccs{
    margin-left: 10px;
}

.rccs__card {
    /* background: white;  */
    color: #333; 
    transition: background-color 0.3s ease; 

}
.no-border-table {
    border-collapse: collapse;
  }
  
  .no-border-table th,
  .no-border-table td {
    border: none;
  }

 