@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  /* background-color: #0D0D0D;
  color: white; */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

body {
  height: 100vh;
  background-color: #070707 !important;
  color: white !important;

}

.navbar-nav {
  display: flex;
  flex-direction: row !important;
  gap: 50px;
  z-index: 9999;
}

.navbar-nav img {
  height: 20px;
  width: auto;
}

.container {
  flex-direction: column;
}

.flexbox1 {
  display: flex;
  align-items: center;
  gap:20vh;
}
.StartBanking-button {
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  width:9rem;
  text-align: center;
  border: 2px solid #EDC14A;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  background-color:#070707;
}

.StartBanking-button .arrow-slide::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: white;
  z-index: -1;
  transition: width 300ms ease-in-out, height 300ms ease-in-out;
  transform-origin: bottom left;
  border-radius: 50%;
}

.StartBanking-button:hover .arrow-slide::before,
.StartBanking-button:focus .arrow-slide::before {
  width: 100%;
  height: 100%;
}

.StartBanking-button .arrow-img {
  width: 1rem;
  height: auto;
  transform: rotate(50deg);
  background-color: transparent;
}

.StartBanking-button:hover .arrow-img {
  display: none;
}

.StartBanking-button p {
  background-color: transparent;
  transition: color 300ms ease-in-out, font-size 300ms ease-in-out;
  font-weight: bold;
}

.StartBanking-button:hover p {
  color: black;
  font-size: 1.2rem;
}

.flexbox {
  display: flex;
  align-items: center;
}
.flexbox .paragraph-p {
  width: 20%;
  flex-shrink: 0;
  font-size: 1.4rem;
}
.flexbox .e-logoimage{
  width:25%;
  flex-shrink: 0;
  text-align: right;
}

.carusel-space {
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.carusel-cards {
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carusel-img {
  height: 180px;
  width: auto;
  margin-bottom: 20px;
}

.carusel-title {
  font-size: 35px;
  margin-bottom: 20px;
}

.carusel-txt {
  font-size: 20px;
  text-align: center;
}

.carusel-gold-line {
  height: 4px;
  width: 120px;
  background-color: #EDC14A;
  margin-bottom: 20px;
  transition: width 0.5s ease;
}

#carusel-cards-1:hover .carusel-gold-line {
  width: 200px;
}

#carusel-cards-2:hover .carusel-gold-line {
  width: 200px;
}

#carusel-cards-3:hover .carusel-gold-line {
  width: 200px;
}

.carusel-inner {
  max-width: 948px;
}
.info-place {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-place img {
  height: 350px;
  z-index: 0;
}

.info-place h1 {
  position: absolute;
  z-index: 2;
  background-color: transparent;
  width: 50%;
  font-size: 40px;
  text-align: center;
}

.contactus-form {
  z-index: 999;
  position: fixed;
  width: 700px;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel a {
  display: flex;
  background: none;
  width: 100px;
}
@media (min-width: 1200px) {
  .h1 {
      font-size: 14rem;
  }
  .-ebanking{
    font-size: 8rem;
  }
  .eLogo-img {
    width: 250px;
  }
}
@media (max-width: 1200px) {
  .flexbox1 {
    gap:5vh;
  }
  .h1 {
      font-size: 5rem;
  }
  .StartBanking-button {
    height: 4rem;
    width:4rem;
  }
  .start-banking-text{
    font-size: 0.5rem;
  }
  .StartBanking-button .arrow-img {
    width: 0.5rem;
  }

  .flexbox .paragraph-p {
    display: none;
  }
  .eLogo-img {
    width: 120px;
  }
  .-ebanking{
    font-size: 4.5rem;
  }
  
}