

/* Importimi i fontit nga Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* Stilizimi për header */
header {
    text-align: center; /* Vendos titullin në qendër */
}

header h1 {
    font-size: 2em;
    font-family: 'Abril Fatface', sans-serif; /* Përdorimi i fontit Abril Fatface */
    color: #d6b600; /* Zgjedhja e një ngjyre tjetër */
    margin-bottom: 50px;
}

/* Stilizimi për kartat */
.card {
    border: 1px solid #d6b600; /* Kufiri i kartave me ngjyrë */
    border-radius: 5px; /* Rrethi i kartave */
    margin-bottom: 20px; /* Distanca midis kartave */
    background-color: linear-gradient(to bottom right, #FFB347, #A9A9A9); 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Vendi i hijes së kartës */


}
  
.card-header {
    background-color: #222; /* Ngjyra e sfondit të kokës së kartës */
    padding: 10px; /* Hapësira brenda kokës së kartës */
    border-bottom: 1px solid #ccc; /* Kufiri i poshtëm i kokës së kartës */
}
  
/* Stilizimi për ikonat */
.card-body i {
    color: #d6b600; /* Ngjyra e ikonave */
    margin-right: 10px; /* Distanca nga teksti prapa ikonave */
}

.card-body {
    padding: 20px; /* Hapësira brenda trupit të kartës */
}
  
/* Stilizimi për titujt e kartave */
.card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #d6b600; /* Ngjyra e titrave të kartave */
}
  
/* Stilizimi për numrat në kartë */
.card-number {
    font-size: 1.5em;
    font-weight: bold;
    color: #d6b600; /* Ngjyra e numrave */
}
.cardat{
  top: 60px;

}


.button {
    background-color: #004A7F;
    -webkit-border-radius: 10px;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 30px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
  }
  @-webkit-keyframes glowing {
    0% { background-color: #97bf2d; -webkit-box-shadow: 0 0 3px #97bf2d; }
    50% { background-color: #97bf2d; -webkit-box-shadow: 0 0 40px #97bf2d; }
    100% { background-color: #97bf2d; -webkit-box-shadow: 0 0 3px #97bf2d; }
  }
  
  @-moz-keyframes glowing {
    0% { background-color: #97bf2d; -moz-box-shadow: 0 0 3px #97bf2d; }
    50% { background-color: #97bf2d; -moz-box-shadow: 0 0 40px #97bf2d; }
    100% { background-color: #97bf2d; -moz-box-shadow: 0 0 3px #97bf2d; }
  }
  
  @-o-keyframes glowing {
    0% { background-color: #97bf2d; box-shadow: 0 0 3px #97bf2d; }
    50% { background-color: #97bf2d; box-shadow: 0 0 40px #97bf2d; }
    100% { background-color: #97bf2d; box-shadow: 0 0 3px #97bf2d; }
  }
  
  @keyframes glowing {
    0% { background-color: #97bf2d; box-shadow: 0 0 3px #97bf2d; }
    50% { background-color: #97bf2d; box-shadow: 0 0 40px #97bf2d; }
    100% { background-color: #97bf2d; box-shadow: 0 0 3px #97bf2d; }
  }
  
  .button {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
  }



  .welcome-dashboard{
    text-align: center;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%,-50%);
    width: 70%;
  }
  .welcome-dashboard span{
    text-transform: uppercase;
    display: block;
  }
  .text1{
    color: rgb(212, 17, 17);
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 8px;
    /* margin-bottom: 20px; */
    background: rgb(242, 237, 237);
    position: relative;
    animation: ani 3s;
  }
  .text2{
    font-size: 35px;
    color: #6ab04c;
    /* position: relative;
    animation: ani 3s; */
  }
  @keyframes ani{
    0%{
      color: black;
      margin-bottom: -40px;
    }
    30%{
      letter-spacing: 25px;
      margin-bottom: -40px;
    }
    85%{
      letter-spacing: 8px;
      margin-bottom: -40px;
    }
  }

  